<section class="main">
  <div class="row justify-content-end">
    <div class="col-lg-3">
      <img src="../../assets/img/user.png" alt="" class="img-fluid" style="width: 200px;height:200px;" />
      <h1 class="display-3">Your Company's Title</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis odio, aliquid voluptate ab neque? Itaque fugit facilis pariatur odit.</p>
      <hr>

    </div>
    <!-- Page 1 -->
    <div class="col-md-9">
      <div class="container ">
        <div class="page">
          <div class="row">
            <div class="col-md-9 text-left">
              <h2 class="display-3">About Us ?</h2>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, neque.</small>
            </div>
            <div class="col-md-3">
              <div class="text-right">
                <h6 class="display-5"><strong>5 March 2018</strong></h6>
                <small>John Doe</small>
              </div>
            </div>
          </div>
          <div class="pages">
            <div class="gambar text-left">
              <img src="../../assets/img/a.jpeg" alt="" class="img-fluid">
              <div class="h3">
                <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, iste error quos aperiam omnis laudantium dolor molestias autem molestiae similique repellendus voluptate accusantium, magnam ipsa quidem velit! Tempora nihil, et asperiores, enim labore,
                  at facilis perferendis, consectetur tempore numquam veritatis officiis! Illum a nostrum facilis, cupiditate quisquam asperiores voluptate magnam cum hic, quaerat doloribus ducimus porro laborum, qui adipisci similique.
                </p>
                <a href="#" class="btn btn-primary">Continue Reading</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page 2 -->
    <div class="col-md-9">
      <div class="container ">
        <div class="page">
          <div class="row">
            <div class="col-md-9 text-left">
              <h2 class="display-3">About Us ?</h2>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, neque.</small>
            </div>
            <div class="col-md-3">
              <div class="text-right">
                <h6 class="display-5"><strong>5 March 2018</strong></h6>
                <small>John Doe</small>
              </div>
            </div>
          </div>
          <div class="pages">
            <div class="gambar text-left">
              <img src="../../assets/img/a.jpeg" alt="" class="img-fluid">
              <div class="h3">
                <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, iste error quos aperiam omnis laudantium dolor molestias autem molestiae similique repellendus voluptate accusantium, magnam ipsa quidem velit! Tempora nihil, et asperiores, enim labore,
                  at facilis perferendis, consectetur tempore numquam veritatis officiis! Illum a nostrum facilis, cupiditate quisquam asperiores voluptate magnam cum hic, quaerat doloribus ducimus porro laborum, qui adipisci similique.
                </p>
                <a href="#" class="btn btn-primary">Continue Reading</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>