section.main {
  padding-top: 3em;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 0;
  margin: 0;
  background-color: #dbc4c4;
}

.page {
  background-color: #fff;
  border: 2px solid rgba(#c1bbbb,.75);
  padding-left: 1em;
  border-radius: 5px;
}

.col-md-9 {
padding: 2em;
}

.col-md-3 {
  padding: 2em;
}
.gambar {
  padding: 3em;
 }

.h3 {
  padding-top: 2em;
}
