<!-- Header Section Start -->
<section class="header parallax">
  <div class="container text-center">
    <div class="row justify-content-center">
      <h2 class="display-3"><strong>Parallax effect</strong> so cool!</h2>
      <div class="col-md-6">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cupiditate architecto labore deleniti odio ad quisquam laboriosam, vel numquam expedita iusto doloribus, magnam repellendus dolorum porro unde recusandae tenetur, hic!</p>
        <a href="#" class="btn btn-primary">Check Out</a>
      </div>
    </div>
  </div>
</section>
<!-- Header Section/end -->

<!-- About Section Start -->
<section class="about content-text text-ceter">
  <div class="row">
    <div class="col-md-6">
      <h2 class="display-3">About Us</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At voluptatum praesentium debitis cum iste ipsa, optio sunt veritatis earum fugiat delectus qui aut accusamus porro impedit ea id ut consequatur dolorum! Harum dolorem ipsa provident voluptate
        esse, soluta vel laudantium.</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aperiam soluta alias laudantium eum, velit. Debitis maxime dignissimos nihil obcaecati magnam, dolore voluptate, omnis, amet quod ducimus praesentium, sapiente sit animi. Ea tenetur
        nihil voluptatum vel assumenda eveniet quae. Facilis ex sequi, consequatur quasi tenetur, repellat obcaecati animi adipisci ut commodi tempora at minima aut nobis aliquam voluptatum laboriosam quaerat!</p>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, ut? Necessitatibus debitis officiis quae, blanditiis, nihil incidunt alias. Fugiat blanditiis atque voluptatem eos illo necessitatibus ex repellendus debitis nemo ipsam, molestias nostrum,
        laboriosam magni quo eum, veritatis soluta dicta. Dolorem optio vitae repellat alias possimus est, voluptatibus porro, vel debitis officiis obcaecati error deleniti officia! Delectus quae, nulla totam itaque!
      </p>
      <div class="text-right">
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../assets/img/bg-hero.jpeg" alt="" class="img-fluid" />
    </div>
  </div>
</section>
<!-- About Section/end -->

<!-- Team Section Start -->
<section class="team">
  <h2 class="display-3"><strong>Our Amazing Team</strong></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="row justify-content-center">
        <div class="col-lg-3">
          <img src="../../assets/img/user.png" alt="" class="img-fluid">
          <div class="card text-center">
            <h2 class="card-title">John Doe</h2>
            <small>CO-FOUNDER</small>
          </div>
        </div>
      </div>
      <!--end row-->

      <div class="row justify-content-center">
        <div class="col-lg-3">
          <img src="../../assets/img/user.png" alt="" class="img-fluid">
          <div class="card text-center">
            <h2>Yoona Se</h2>
            <small>Grapich Design</small>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3">
          <img src="../../assets/img/user.png" alt="" class="img-fluid">
          <div class="card text-center">
            <h2>Steve Doe</h2>
            <small>Web Development</small>
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>

    <div class="col-md-6">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, earum voluptatum error. Necessitatibus error impedit ipsum facere doloremque vel, ea aut dignissimos, magnam tempore consequuntur neque culpa doloribus omnis voluptatum explicabo
        officia est tenetur, qui. Iste cupiditate debitis temporibus iure, adipisci tenetur doloribus laborum nihil blanditiis eveniet magnam facilis earum laudantium aliquam quas itaque quos tempore dolores. Architecto, atque, libero.</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi assumenda provident, quod fuga illo non delectus, nihil, quia aspernatur inventore iusto nemo possimus recusandae esse voluptas molestias ea in illum ullam impedit cumque. Quidem repellat
        dolor aliquam ducimus voluptatum quas cumque assumenda voluptatibus voluptas, inventore eius, libero nulla totam animi ea quisquam nam maxime eveniet, ut soluta perspiciatis! Maiores at voluptates nobis velit culpa consequuntur reprehenderit sed
        architecto laborum optio! Nemo, commodi numquam vel laudantium repellendus, saepe iure, quo accusantium neque voluptatem soluta eaque asperiores atque excepturi autem voluptatibus odio. Ducimus debitis mollitia saepe possimus temporibus laborum
        reprehenderit explicabo, alias?</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eos quisquam quos quis nulla, itaque reprehenderit sit vitae pariatur unde odio obcaecati animi id libero quae minus. Quidem quia, enim dolore excepturi blanditiis neque dolor expedita
        dignissimos autem ut. Impedit aperiam officiis libero similique itaque ut, officia, assumenda rem magni doloribus dolores corporis consequatur error eaque soluta quisquam accusamus minus!</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim architecto, unde quo doloribus illo nisi sint quae. Recusandae optio consectetur magni quo! Accusantium minus, fugit repellendus harum accusamus id possimus corporis sint. Sed praesentium
        vitae neque voluptatum dolore ut rem nam eligendi adipisci eius, quo voluptas tempore officiis assumenda, expedita molestiae libero quasi quibusdam, iure id doloremque debitis dignissimos totam!</p>
    </div>
  </div>
</section>
<!-- Team Section/end -->

<!-- Footer Section Start -->
<section class="footer cotainer">
  <div class="row justify-content-center">
    <p class="lead">Web Design | Cunduts</p>
  </div>
</section>
<!-- Footer Section/end -->